Options All -ExecCGI -Indexes -Includes +FollowSymLinks
  
RewriteEngine On
RewriteBase /
    RewriteCond %{HTTP_HOST} ^xn---245-u5dsm.xn--p1ai
    RewriteRule (.*) http://www.xn---245-u5dsm.xn--p1ai/$1 [R=301,L]
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
    RewriteRule ^index\.php$ http://www.xn---245-u5dsm.xn--p1ai/ [R=301,L]




<IfModule mod_setenvif.c>
    SetEnv TZ Europe/Moscow
</IfModule>
ServerSignature Off
AddDefaultCharset UTF-8

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

<IfModule mod_gzip.c>
    mod_gzip_on         Yes
    mod_gzip_dechunk    Yes
    mod_gzip_item_include file		\.(html?|txt|css|js|php|pl)$
    mod_gzip_item_include mime		^text\.*
    mod_gzip_item_include mime		^application/x-javascript.*
    mod_gzip_item_exclude mime		^image\.*
    mod_gzip_item_exclude rspheader	^Content-Encoding:.*gzip.*
</IfModule>

<ifModule mod_headers.c>
    #кэшировать html и htm файлы на один день
    <FilesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=43200"
    </FilesMatch>
    #кэшировать css, javascript и текстовые файлы на одну неделю
    <FilesMatch "\.(js|css|txt)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>
    #кэшировать флэш и изображения на месяц
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>
    #отключить кэширование
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>

Header append Cache-Control "public"

FileETag MTime Size

ExpiresActive On

ExpiresDefault "access plus 0 minutes"

ExpiresByType image/ico "access plus 1 years"

ExpiresByType text/css "access plus 1 years"

ExpiresByType text/javascript "access plus 1 years"

ExpiresByType image/gif "access plus 1 years"

ExpiresByType image/jpg "access plus 1 years"

ExpiresByType image/jpeg "access plus 1 years"

ExpiresByType image/bmp "access plus 1 years"

ExpiresByType image/png "access plus 1 years"

</IfModule>

<IfModule mod_headers.c>
<FilesMatch "\.(js|css|xml|gz|html)$">
   Header append Vary: Accept-Encoding
</FilesMatch>
</IfModule>

ErrorDocument 404 /404.html

Redirect 301 /avtobusy/mikroavtobus-fiat-ducato/ /arenda-spectehniki/mikroavtobus-fiat-ducato/
Redirect 301 /gruzovye-avtomobili/kamaz-55111s-samosval/ /arenda-spectehniki/kamaz-55111s-samosval/
Redirect 301 /gruzovye-avtomobili/kamaz-65115-samosval/ /arenda-spectehniki/kamaz-65115-samosval/
Redirect 301 /gruzovye-avtomobili/kamaz-6520-63-samosval/ /arenda-spectehniki/kamaz-6520-63-samosval/
Redirect 301 /gruzovye-avtomobili/ma3-6422a8-330-sedelnyy-tyagach/ /arenda-spectehniki/maz-6422a8-330-sedelnyy-tyagach/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/buldozer-dt-75/ /arenda-mikroavtobusa/buldozer-dt-75/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/ekskavator-dem-114/ /arenda-mikroavtobusa/ekskavator-dem-114/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/ekskavator-ek-18-60/ /arenda-mikroavtobusa/ekskavator-ek-18-60/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/ekskavator-eo-4225/ /arenda-mikroavtobusa/ekskavator-eo-4225/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/ekskavator-hyundai-r170w-7/ /arenda-mikroavtobusa/ekskavator-hyundai-r170w-7/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/gidrobur-na-dem-114/ /arenda-mikroavtobusa/gidrobur-na-dem-114/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/gidromolot-na-dem-114/ /arenda-mikroavtobusa/gidromolot-na-dem-114/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/gidromolot-na-hyundai-r170w-7/ /arenda-mikroavtobusa/gidromolot-na-hyundai-r170w-7/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/pogruzchik-xgma-xg93211/ /arenda-mikroavtobusa/pogruzchik-xgma-xg93211/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/vibroplita-na-hyundai-r170w-7/ /arenda-mikroavtobusa/vibroplita-na-hyundai-r170w-7/
Redirect 301 /mashiny-dorozhnye/katok-trotuarnyy/ /arenda-spectehniki/katok-trotuarnyy/
Redirect 301 /mashiny-podyomno-transportnye/kran-manipulyator-na-kamaz-65117/ /arenda-spectehniki/kran-manipulyator-na-kamaz-65117/
Redirect 301 /mashiny-podyomno-transportnye/kran-na-hodu-edk-803/ /arenda-spectehniki/kran-na-hodu-edk-803/
Redirect 301 /mashiny-podyomno-transportnye/kran-na-hodu-kde-163-s-greyferom/ /arenda-spectehniki/kran-na-hodu-kde-163-s-greyferom/
Redirect 301 /mashiny-podyomno-transportnye/kran-na-hodu-ks-3577-2/ /arenda-spectehniki/kran-na-hodu-ks-3577-2/
Redirect 301 /mashiny-podyomno-transportnye/kran-na-hodu-ks-3577-3/ /arenda-spectehniki/kran-na-hodu-ks-3577-3/
Redirect 301 /mashiny-podyomno-transportnye/kran-na-hodu-ks-45717-k/ /arenda-spectehniki/kran-na-hodu-ks-45717-k/
Redirect 301 /mashiny-podyomno-transportnye/kran-na-hodu-xzj-qz25k/ /arenda-spectehniki/kran-na-hodu-xzj-qz25k/
Redirect 301 /mehanizmy-dlya-pogruzheniya-svay/mobilnyy-vibropogruzhatel-mvf-1/ /arenda-spectehniki/mobilnyy-vibropogruzhatel-mvf-1/
Redirect 301 /mehanizmy-dlya-pogruzheniya-svay/svaeboynaya-ustanovka-sp-49d/ /arenda-spectehniki/svaeboynaya-ustanovka-sp-49d/
Redirect 301 /mehanizmy-dlya-pogruzheniya-svay/vibropogruzhatel-avf-1/ /arenda-spectehniki/vibropogruzhatel-avf-1/
Redirect 301 /passazhirskie-avtomobili/gazel-gaz-2834/ /arenda-spectehniki/gazel-gaz-2834/
Redirect 301 /passazhirskie-avtomobili/gazel-gaz-330232/ /arenda-spectehniki/gazel-gaz-330232/
Redirect 301 /passazhirskie-avtomobili/sobol-gaz-2752/ /arenda-spectehniki/sobol-gaz-2752/

Redirect 301 /avtobusy/ /arenda-mikroavtobusa/
Redirect 301 /gruzovye-avtomobili/ /arenda-kamaza/
Redirect 301 /mashiny-dlya-zemlyanyh-rabot/ /arenda-ekskavatora/
Redirect 301 /mashiny-dorozhnye/ /arenda-katka/
Redirect 301 /mashiny-podyomno-transportnye/ /arenda-avtokrana/
Redirect 301 /mehanizmy-dlya-pogruzheniya-svay/ /arenda-svaeboya/
Redirect 301 /passazhirskie-avtomobili/ /arenda-mikroavtobusa/